%p#notice= notice

.btn-group
  - if user_is_admin?
    = link_to 'Edit', edit_category_path(category), class: 'btn btn-default'
  = link_to 'Back', categories_path, class: 'btn btn-primary'

%p
  %h1 Name:
  = category.name

%p
  - category.products.each do |product|
    = product.title

%p
  %h3 New product
  = render 'products/form'

